.black {
  color:            white;
  background-color: black;
  border: 1px solid white;
}
.white {
  color:            black;
  background-color: white;
  border: 1px solid black;
}
.black, .white {
  display: inline-block;
  padding: 0.2em;
  margin: 1px;
}

.top                { vertical-align: top; }
.tiny               { font-size: xx-small; }

fieldset, label     { display: inline-block; }
fieldset            { background-color: #f6f5f4; }
button              { font-size: large; }
input[type=number]  { width: 3em; }

@media (min-width: 767px) {
  html { text-align: center; }
  body {
    text-align: initial;
    width: 700px;
    margin: auto;
    padding: 1em;
    border: 1px solid grey;
  }
}
