<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>cahpy | {{ game }} | {{ name }}</title>
  </head>
  <body>
    Game over.
    <br/>
    <form method="post" action="/play">
      <input type="hidden" name="game" value="{{ game }}" />
      <input type="hidden" name="name" value="{{ name }}" />
      <button name="restart" value="restart">Restart!</button>
    </form>
  </body>
</html>
