<!doctype html>
<html lang="en">
  <head>
    {% include "_meta.html" %}
    <title>cahpy | {{ game }} | {{ name }}</title>
    <style>
      button { font-size: large; }
    </style>
  </head>
  <body>
    <form method="post">
      <input type="hidden" name="game" value="{{ game }}" />
      <input type="hidden" name="name" value="{{ name }}" />
      Game:
      <a href="/?join=yes&game={{ game }}">{{ game }}</a>
      <br/>
      Players: {{ players }}
      <br/>
      Your name: {{ name }}
      <br/>
      <br/>
      <strong>Game over.</strong>
      <br/>
      <br/>
      <button name="action" value="restart">Restart!</button>
      <button name="action" value="rejoin">Rejoin!</button>
    </form>
    {% include "_footer.html" %}
  </body>
</html>
