<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>cahpy | {{ game }} | {{ name }}</title>
  </head>
  <body>
    <form method="post">
      <input type="hidden" name="game" value="{{ game }}" />
      <input type="hidden" name="name" value="{{ name }}" />
      Game:
      <a href="/?game={{ game }}">{{ game }}</a>
      <br/>
      Players: {{ players }}
      <br/>
      Your name: {{ name }}
      <br/>
      <br/>
      <strong>Game over.</strong>
      <br/>
      <br/>
      <button name="restart" value="restart">Restart!</button>
    </form>
  </body>
</html>
