<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>cahpy | {{ game }} | {{ name }}</title>
    <style>
      .black {
        color: white;
        background-color: black;
        border: 1px solid white;
      }
      .white {
        color: black;
        background-color: white;
        border: 1px solid black;
      }
      .black, .white {
        display: inline-block;
        padding: 0.2em;
      }
    </style>
  </head>
  <body>
    <form id="form0" method="post">
      <input type="hidden" name="game" value="{{ game }}" />
      <input type="hidden" name="name" value="{{ name }}" />
    </form>
    <form id="form" method="post">
      <input type="hidden" name="game" value="{{ game }}" />
      <input type="hidden" name="name" value="{{ name }}" />
      Game:
      <a href="/?game={{ game }}">{{ game }}</a>
      <br/>
      Players: {{ players }}
      <br/>
      Your name: {{ name }}
      {% if you_czar %}
        <br/>
        <strong>You're the czar!</strong>
      {% endif %}
      <br/>
      {% if card is not none %}
        <br/>
        Black card:
        <span class="black">{{ black[card]|safe }}</span>
        <br/>
      {% endif %}
      {% if msg %}
        <br/>
        {{ msg }}
        <br/>
      {% endif %}
      <br/>
    {% if card is none %}
      {% set waiting = true %}
      <noscript>
        <button id="refresh" form="form0">Refresh!</button>
      </noscript>
      <button name="start" value="start">New round!</button>
      <br/>
    {% else %}
      {% if you_czar %}
        {% if complete %}
          Answers:
          <br/>
          {% for a in answers %}
            <input type="radio" id="answ{{ loop.index }}"
              name="answ" value="{{ a|join(",") }}">
            <label for="answ{{ loop.index }}">
              {% for c in a %}
                <span class="white">{{ white[c]|safe }}</span>
              {% endfor %}
            </label>
            <br/>
          {% endfor %}
          <br/>
          <button>Choose!</button>
          <br/>
        {% else %}
          {% set waiting = true %}
          Waiting for players...
          <br/>
          <noscript>
            <br/>
            <button id="refresh" form="form0">Refresh!</button>
            <br/>
          </noscript>
        {% endif %}
      {% else %}
        {% if name in cur["answers"] %}
          {% set waiting = true %}
          Waiting for czar...
          <br/>
          <noscript>
            <br/>
            <button id="refresh" form="form0">Refresh!</button>
            <br/>
          </noscript>
        {% else %}
          {% for i in range(cur["blanks"]) %}
            White card{% if cur["blanks"] > 1 %} #{{ i + 1 }}{% endif %}:
            <br/>
            {% for c in cur["cards"][name] %}
              <input type="radio" id="card{{ i }}-{{ c }}"
                name="card{{ i }}" value="{{ c }}" class="radio">
              <label for="card{{ i }}-{{ c }}" class="white">
                {{ white[c]|safe }}
              </label>
              <br/>
            {% endfor %}
            <br/>
          {% endfor %}
          <script>
            document.getElementById("form").onsubmit = e => {
              const r = Array.from(document.getElementsByClassName("radio"))
                        .filter(x => x.checked).map(x => x.value)
              if ((new Set(r)).size != {{ cur["blanks"] }} ) {
                alert("Please select {{ cur["blanks"] }}.")
                e.preventDefault()
              }
            }
          </script>
          <button>Choose!</button>
          <br/>
        {% endif %}
      {% endif %}
    {% endif %}
      <br/>
      <hr/>
      <button name="restart" value="restart" form="form0">Restart!</button>
    </form>
    {% if waiting %}
      <script>
        window.onload = () => {
          const tick = {{ tick }}
          const f = () => {
            const r = new XMLHttpRequest()
            r.addEventListener("load", e => {
              if (r.status != 200) { return }
              const t = JSON.parse(r.responseText).tick
              if (t > tick) {
                document.getElementById("form").submit()
              } else {
                setTimeout(f, {{ POLL }})
              }
            })
            r.open("GET", "/status/{{ game }}")
            r.send()
          }
          setTimeout(f, {{ POLL }})
        }
      </script>
    {% endif %}
  </body>
</html>
